<mat-nav-list>
    <a mat-list-item routerLinkActive="view-list-operator" routerLink="/manager/view-list-operator">Operator List</a>
    <a mat-list-item routerLinkActive="view-schedule-plan" routerLink="/manager/view-schedule-plan">Schedule Plan</a>
    <a mat-list-item routerLinkActive="create-banking-account" routerLink="/manager/create-banking-account">Bank Account</a>
    <a mat-list-item routerLinkActive="find-all-bank-account" routerLink="/manager/find-all-bank-account">List Bank Account</a>
    
    <a mat-list-item routerLinkActive="list" routerLink="/manager/list">Manager List</a>
</mat-nav-list>